# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env

# Build directories
/dist/
/build/

# macOS system files
.DS_Store
.prettierignore

# Windows system files
Thumbs.db
RECYCLE.BIN/

# Editor-specific files
.vscode/
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Python compiled files
__pycache__/
*.py[cod]

# C/C++ compiled files
*.out
*.exe

# Temporary/Backup files
*.tmp
*.bak
*.swp
*~

# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd